<!DOCTYPE html>
<html>
<head>
  <title>SwaggerFlair</title>

  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="<%= @base_url %>/app.min.css">
  <script type="text/javascript" src="<%= @base_url %>/config.js"></script>
</head>
<body class="loading">
  <div class="wrapper">
    <div class="app-loading">
      <span class="loading-spinner"></span>
    </div>

    <div class="left">
      <div class="app-title">
        <h1><a href="#" class="js-app-title"></a></h1>
        <a href="#" class="menu-btn"></a>
      </div>
      <div class="nav"></div>
    </div>

    <div class="right">
      <div class="content">
        <div class="footer">
          Built with <a href="https://github.com/colinyoung87/swagger-flair">SwaggerFlair</a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script type="text/javascript" src="<%= @base_url %>/app.js"></script>
</body>
</html>