.anchor {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  transform: translate(4px, 4px);

  background: url("ico-link.png") no-repeat center;
  background-color: rgba($primaryColor, 0.2);
  background-size: 12px;

  transition: .3s ease;

  &:hover {
    cursor: pointer;
    background-color: rgba($primaryColor, 1);
  }
}