.loading-spinner,
.loading-spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  margin-left: -2.5em;
  margin-top: -2.5em;
}

.loading-spinner {
  display: block;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba($primaryColor, 0.1);
  border-right: 0.5em solid rgba($primaryColor, 0.1);
  border-bottom: 0.5em solid rgba($primaryColor, 1);
  border-left: 0.5em solid $primaryColor;
  -webkit-animation: spinner 0.4s infinite linear;
  animation: spinner 0.4s infinite linear;

  &.-white {
    border-top: 0.5em solid rgba(#fff, 0.1);
    border-right: 0.5em solid rgba(#fff, 0.1);
    border-bottom: 0.5em solid rgba(#fff, 1);
    border-left: 0.5em solid #fff;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
